<!DOCTYPE html>
<html lang="en">

@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>Jobhub</title>

    <script defer src="script.js"></script>
</head>
<body>
   <div class="container">
       <div class="row text-center mb-3">
           <h1>Encontre o emprego dos sonhos</h1>
       </div>
       <div class="row mb-5">
            <form action="" method="GET">
                <div class="input-group">   
                    <input class="form-control" type="text" placeholder="Pesquisar cargo, compeência ou empresa" name="nome">
                    <button type="submit" class="btn btn-warning">Pesquisar</button>
                </div>
            </form>
       </div>
       <div class="row">
           <div class="col-md-4">
               <form action="" method="GET" class="d-flex gap-2 flex-column">
                   <select name="modo_trabalho" class="form-select">
                      <option selected>Modo de trabalho</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                   </select>
                   <select class="form-select">
                      <option selected>Categoria</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                   </select>
                   <select class="form-select">
                      <option selected>Senioridade</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                   </select>
                   <button type="submit" class="btn btn-warning">Pesquisar</button>
               </form>
           </div>
           <div class="col-md-8">
                @foreach (var vaga in Model.Vagas) {
                    <a href="@Url.Action("PaginaVaga", "Vaga", new { id = vaga.Id })" style="text-decoration: none; color: inherit;">
                        <div class="item">
                            <div style="margin: 0 5px;">
                                <img src="img/Imgempresas.png" class="img-empresa" alt="imgempresas">
                            </div>
                                <div class="info d-flex">
                                    <div class="row">
                                        <div class="info2">
                                            <h4>@vaga.Titulo</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class=''>
                                            <span>R$ @vaga.Salario</span>
                                            <span>-</span>
                                            <span>@vaga.FormaDeTrabalho</span>
                                        </div>
                                        <div class="">
                                            <span>@vaga.Empresa</span>
                                            <span> - </span>
                                            <span>@vaga.Local</span>
                                            </div>
                                        <div class="">
                                            <span> @vaga.Nivel </span>
                                            <span> - </span>
                                            <span> @vaga.Titulo</span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </a>
                }
           </div>
       </div>
   </div> 
   <script>
       
   </script>
</body>
</html>