@model JobHub.Models.Candidato

@{
    ViewData["Title"] = "Perfil do Candidato";
}

<h2>@Model.Nome</h2>

<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Idade:</strong> @Model.Idade</p>
<p><strong>Sobre Mim:</strong> @Model.SobreMim</p>
<p><strong>Área de Interesse:</strong> @Model.AreaDeInteresse</p>
<p><strong>Telefone:</strong> @Model.Telefone</p>
<p><strong>Habilidades:</strong> @Model.Habilidades</p>
<p><strong>Experiência:</strong> @Model.Experiencia</p>
<p><strong>Formação:</strong> @Model.Formacao</p>
<p><strong>Currículo URL:</strong> @Model.CvURL</p>
