@model JobHub.Models.Vaga

@{
    ViewData["Title"] = "PaginaVaga";
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    var empresaIdAsString = Model.EmpresaId.ToString();
}

<div>
    
    <div class="row">
        <section class="grid1"> 
            <div> <img src="~/img/Imgempresas.png" class="img-empresa-grid" alt="imgempresas"></div>
            <div> 
                <h1>@Html.DisplayFor(model => model.Titulo)</h1>
                <h4>@Html.DisplayFor(model => model.Nivel)</h4>
                <form method="post" action="@Url.Action("Candidatar", "Vaga", new { vagaId = Model.Id })">
                    <button type="submit" class="btn-candidatar">Candidatar-se</button>
                </form>
            </div>
        </section>
        <div class="vaga1">
            <div class="vaga2">
                <span style="font-weight: bolder">@Html.DisplayNameFor(model => model.Empresa)</span>
                <span>-</span>
                <span>@Html.DisplayFor(model => model.Empresa)</span>
            </div>
            <br/>
            <div class="vaga2">
                <span style="font-weight: bolder">@Html.DisplayNameFor(model => model.Local)</span>
                <span>-</span>
                <span>@Html.DisplayFor(model => model.Local)</span>
            </div>
            <br />
            <div class="vaga2">
                <span style="font-weight: bolder">@Html.DisplayNameFor(model => model.FormaDeTrabalho)</span>
                <span>-</span>
                <span>@Html.DisplayFor(model => model.FormaDeTrabalho)</span>
            </div>
            <br />
            <div class="vaga2">
                <span style="font-weight: bolder">@Html.DisplayNameFor(model => model.Skills)</span>
                <span>-</span>
                <span>@Html.DisplayFor(model => model.Skills)</span>
            </div>  
            <br />
            <div class="vaga2">
                <span style="font-weight: bolder">@Html.DisplayNameFor(model => model.Salario)</span>
                <span>-</span>
                <span>R$ @Html.DisplayFor(model => model.Salario)</span>
            </div>
        </div>
            <div class="vaga2">
                <h3 style="font-weight: bolder">@Html.DisplayNameFor(model => model.Descricao)</h3>
                <hr class="solid">
                <span>@Html.DisplayFor(model => model.Descricao)</span>
            </div>
        <div class="vaga1"></div>
            <div class="vaga2">
                <h3 style="font-weight: bolder">Outras vagas</h3>
                <hr class="solid">
            </div>
       <section class="grid2">
            <div class="outras-vagas1"> 
                <h4> teste</h4>
            </div>
            <div class="outras-vagas2">
                <h4> teste</h4>
            </div>
        </section>
            
    </div>
</div>


@if (empresaIdAsString == userId)
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Deletar</a>
        </div>
    }
