@model JobHub.Models.Vaga

@{
    ViewData["Title"] = "PaginaVaga";
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    var empresaIdAsString = Model.EmpresaId.ToString();
}

<h1>@Html.DisplayFor(model => model.Titulo)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Nivel)</h4>
    <hr />
    <div class="row">
        <div class="vaga1">
            <div class="vaga2">
                <span>@Html.DisplayNameFor(model => model.Empresa)</span>
                <span>-</span>
                <span>@Html.DisplayFor(model => model.Empresa)</span>
            </div>
            <div class="vaga2">
                <span>@Html.DisplayNameFor(model => model.Local)</span>
                <span>-</span>
                <span>@Html.DisplayFor(model => model.Local)</span>
            </div>
            <div class="vaga2">
                <span>@Html.DisplayNameFor(model => model.FormaDeTrabalho)</span>
                <span>-</span>
                <span>@Html.DisplayFor(model => model.FormaDeTrabalho)</span>
            </div>
            <div class="vaga2">
                <span>@Html.DisplayNameFor(model => model.Skills)</span>
                <span>-</span>
                <span>@Html.DisplayFor(model => model.Skills)</span>
            </div>
            <div class="vaga2">
                <span>@Html.DisplayNameFor(model => model.Descricao)</span>
                <span>-</span>
                <span>@Html.DisplayFor(model => model.Descricao)</span>
            </div>
            <div class="vaga2">
                <span>@Html.DisplayNameFor(model => model.Salario)</span>
                <span>-</span>
                <span>@Html.DisplayFor(model => model.Salario)</span>
            </div>
        </div>
        <div class="vaga1">
            <div class="vaga2">
                <span>@Html.DisplayNameFor(model => model.Descricao)</span>
                <span>:</span>
                <span>@Html.DisplayFor(model => model.Descricao)</span>
            </div>
        </div>
    </div>
</div>

    @if (empresaIdAsString == userId)
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Deletar</a>
        </div>
    }
