@model JobHub.Models.Vaga

@{
    ViewData["Title"] = "PaginaVaga";
}

<h1>@Html.DisplayFor(model => model.Titulo)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Nivel)</h4>
    <hr />
    <div class="row">

        <h7>⠀</h7>
        <h4 class="display-7 ">@Html.DisplayNameFor(model => model.Empresa)</h4>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa)
        </div>
        <h7>⠀</h7>

        <h4 class="display-7 ">@Html.DisplayNameFor(model => model.Local)</h4>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </div>
        <h7>⠀</h7>

        <h4 class="display-7 ">@Html.DisplayNameFor(model => model.FormaDeTrabalho)</h4>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.FormaDeTrabalho)
        </div>
        <h7>⠀</h7>

        <h4 class="display-7 ">@Html.DisplayNameFor(model => model.Skills)</h4>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Skills)
        </div>
        <h7>⠀</h7>

        <h4 class="display-7 ">@Html.DisplayNameFor(model => model.Descricao)</h4>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </div>
        <h7>⠀</h7>

        <h4 class="display-7 ">@Html.DisplayNameFor(model => model.Salario)</h4>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </div>
        <h7>⠀</h7>


    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Voltar</a>
</div>